<h2>ADMINSISTER IT. lulz</h2>

<ul>
    <li>
        @Html.ActionLink("Redigera produktlistor", "EditProductLists")
    </li>
    <li>
        @Html.ActionLink("Lägg till produkt", "EditThing")
    </li>
    <li>
        <a href="/Category">Lägg till kategori</a>
    </li>
</ul>