<h2>ADMINSISTER IT. lulz</h2>

<ul>
    <li>
        @Html.ActionLink("Redigera utvalda produkter", "SelectedProducts")
    </li>
    <li>
        @Html.ActionLink("Lägg till produkt", "Thing")
    </li>
    <li>
        <a href="/Category">Lägg till kategori</a>
    </li>
</ul>