<div id="cart-holder" style="width:100%;position:absolute;top:0">
    <div id="cart-content" style="height: 72px;padding: 8px 20px">
        <span>5</span>
    </div>
</div>

<script>
    var wrapper = document.getElementsByClassName('content-wrapper')[0];
    var scrollElement = document.getElementById('cart-holder');
    var contentElement = scrollElement.firstElementChild;
    var stop = 72; //scrollElement.offsetTop;
    //var fixedWidth = scrollElement.offsetWidth;
    var currentTop = 0;
    var lastTop = 0;

    function posTop() {
        return (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
    }
    
    function isScrolling() {
        currentTop = posTop();

        if (currentTop > lastTop) { //scrolling down
            if(currentTop > stop){
                contentElement.style.display = 'none';
                scrollElement.style.position = 'fixed';
            }
        } 
        else { //scrolling up
            var top = (scrollElement.offsetTop - currentTop);

            if (top < -25) {
                contentElement.style.height = '50px';
                contentElement.style.paddingTop = 0;
                scrollElement.style.position = 'fixed';
            }
            else {
                contentElement.style.height = '72px';
                contentElement.style.paddingTop = '8px';
                scrollElement.style.position = 'absolute';
            }
            
            contentElement.style.display = 'block';
        }

        lastTop = currentTop;
    }

//function isScrolling() {
    //    currentTop = posTop();

    //    if (currentTop > lastTop && lastTop > 0) { //scrolling down
    //        scrollElement.style.display = 'none';
    //    } else { //scrolling up
    //        var top = (scrollElement.offsetTop - currentTop);

    //        if (top <= 0) {
    //            scrollElement.style.width = '100%';
    //            scrollElement.style.position = 'fixed';
    //            scrollElement.style.top = 0;
    //        }

    //        if (currentTop === stop) {
    //            scrollElement.style.position = 'static';
    //            scrollElement.style.top = stop + 'px';
    //        }

    //        if (scrollElement.style.display === 'none') {
    //            scrollElement.style.display = 'block';
    //        }
    //    }

    //    lastTop = currentTop;
    //}
</script>