@using Mainichi.Web.Store.ViewModels
@model CategoryMenuModel
    
@ShowTree(Model.Categories.AllCategories, Model.Identifier, Model.CurrentPath)

@helper ShowTree(IEnumerable<Category> categories, string identifier, string currentPath)
{
    <ul id="@identifier">
        @foreach (var category in categories)
        {
            var currentSubpath = currentPath + String.Concat("/", category.Path);
            <li>
                <a href=@String.Format("/#/browse{0}", @currentSubpath)>@category.Name</a>
                @if (category.SubCategories.Any())
                {
                    @ShowTree(category.SubCategories, string.Empty, currentSubpath)
                }
            </li>
        }
    </ul>
}