<nav style="text-align: right">
    <ul>
        <li><a class="hoverable" href="#">TEST</a></li>
        <li><a class="hoverable" href="#">TEST</a></li>
        <li><a class="hoverable" href="#">TEST</a></li>
        <li><a class="hoverable" href="#">TEST</a></li>
        <li><a class="cartholder" href="#">5</a></li>
    </ul>
</nav>