<nav style="text-align: right">
    <ul>
        <li><a class="hoverable" href="/">Om Mainichi</a></li>
        <li><a class="hoverable" href="#">FAQ</a></li>
        <li><a class="hoverable" href="#">Galleri</a></li>
        <li><a class="hoverable" href="#">Blogg</a></li>
        <li><a class="cartholder" href="#">5</a></li>
    </ul>
</nav>