<div>
    <ul>
        <li>
            <b>WOOT</b>
        </li>
        <li>
            TJOLAHOPP
        </li>
        <li>
            WHATEVER MAN
        </li>
    </ul>
    <ul>
        <li>
            <b>WOOT</b>
        </li>
        <li>
            TJOLAHOPP
        </li>
        <li>
            WHATEVER MAN
        </li>
    </ul>
    <ul>
        <li>
            <b>WOOT</b>
        </li>
        <li>
            TJOLAHOPP
        </li>
        <li>
            WHATEVER MAN
        </li>
    </ul>
    <ul>
        <li>
            <b>WOOT</b>
        </li>
        <li>
            TJOLAHOPP
        </li>
        <li>
            WHATEVER MAN
        </li>
    </ul>
</div>