body {
    fieldset {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .formalizer {
        fieldset > div {
            margin-bottom: 20px;
        }

        font-size: 1.5em;

        a {
            text-decoration: underline;
        }

            a:hover {
                text-decoration: none;
            }

        label {
            display: block;
        }

        textarea {
            width: 50%;
            resize: none;
        }

        input[type=text] {
            padding: 6px;
            font-size: 0.7em;
        }

            input[type=text].long {
                width: 50%;
            }

        input[type=file] {
            font-size: 1em;
        }

        input[type=submit] {
            font-size: 1em;
            margin-top: 50px;
        }

        .file-upload {
            width: 100%;
            text-align: left;
            position: relative;
            overflow: hidden;


            input[type=text] {
                width: 50%;
            }

            span {
                font-size: 20px;
                margin-left: 30px;
                float: right;
                width: 40%;
                text-align: right;
                margin-top: 8px;
                display: inline-block;
            }

            input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
    }

    @media all and (min-width: 641px) {
        .formalizer {
            ul {
                img.image-for-editing {
                    max-width: 180px;
                    display: block;
                }

                textarea {
                    width: auto;
                    display: block;
                }
            }
        }
    }

    @media all and (max-width : 640px) {
        .formalizer {
            width: 100%;

            input[type=text] {
                width: 100%;
            }

                input[type=text].long {
                    width: 100%;
                }

            input[type=submit] {
                width: 100%;
                margin-bottom: 20px;
                padding: 20px 0;
            }

            textarea {
                width: 100%;
                display: block;
            }

            ul {
                display: inline-block;
                text-align: center;

                img.image-for-editing {
                    max-width: 100%;
                    display: block;
                }

                button.yeah {
                    margin-top: 40px;
                }
            }

            .file-upload.btn.btn-danger {
                width: 100%;

                span {
                    width: auto;
                    margin-left: 0;
                    font-size: 16px;
                }

                input[type=text] {
                    padding: 10px;
                }
            }
        }
    }
}
