@using Mainichi.Web.Store.ViewModels
@model Categories

@section breadcrumbs {
    <section class="breadcrumbs" style="display:none">
        <a href="#">START</a> > <a href="#">BENTO</a> > <a href="#">SUPER SAYIAN DELUXE IV</a>
    </section>
}

@section scripts {
    @Scripts.Render("~/bundles/mainichi")
}

<div id="hello-stranger">
    <span>
        HEJ VI TROR DU ÄR NY HÄR OCH BEHÖVER LITE HJÄLP FÖR DU SER RÄTT VILSEN UT, STÄMMER DET? WEEEEI!
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
        id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    </span>
</div>
<div id="needs-moar-cats">
    @Html.Partial("_MenuRenderer", new CategoryMenuModel { Categories = Model, Identifier = "top-most", CurrentPath = String.Empty })
</div>
<section id="product-listings">
    <!-- ko foreach: thingsLists -->
    <div id="selected-products">
        <h3 style="color: #cc3333;border-bottom: 1px solid #cccccc" data-bind="text: Descriptor.toUpperCase()"></h3>
        <ul id="product-list" class="clearfix" style="margin-top: 0" data-bind="foreach: Things">
            <li>
                <a data-bind="attr: { href: '@Url.Content("~/Thing/")' + $data.Id.split('/')[1] + '-' + $data.Slug + '/'}">
                    <div class="product-container clearfix">
                        <img data-bind="attr: {src: '/Content/Snapshots/Products/' + $data.Image }" />
                        <div class="product-description">
                            <span class="product-body-text" style="font-weight: bold; font-size: 1.17em" data-bind="html: $data.Name.toUpperCase()"></span>
                            <div style="text-align: right;margin-top:0.8em">
                                <span class="price-fighter" data-bind="currency: $data.Price"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- /ko -->
</section>