@using Mainichi.Web.Store.ViewModels
@model Categories

@section breadcrumbs {
    <section class="breadcrumbs" style="display:none">
        <a href="#">START</a> > <a href="#">BENTO</a> > <a href="#">SUPER SAYIAN DELUXE IV</a>
    </section>
}

@section scripts {
    @Scripts.Render("~/bundles/mainichi")
}

<div id="hello-stranger" style="display: none">
    <span>
        HEJ VI TROR DU ÄR NY HÄR OCH BEHÖVER LITE HJÄLP FÖR DU SER RÄTT VILSEN UT, STÄMMER DET? WEEEEI!
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
        id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    </span>
</div>
<div id="needs-moar-cats">
    @Html.Partial("_MenuRenderer", new CategoryMenuModel { Categories = Model, Identifier = "top-most", CurrentPath = String.Empty })
</div>
<div id="the-magic-happens-here">
    <ul id="product-list" class="clearfix" style="margin-top: 0" data-bind="foreach: productlist">
        <li>
            <a data-bind="attr: { href: '@Url.Content("~/Thing/")' + $data.Id.split('/')[1] + '-' + $data.Slug + '/'}">
                <div class="product-container clearfix">
                    <img data-bind="attr: {src: '/Content/Snapshots/Products/' + $data.Image }" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold; font-size: 1.17em" data-bind="html: $data.Name.toUpperCase()"></span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter" data-bind="currency: $data.Price"></span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        @*<li>
                <a href="@Url.Content("~/Thing/Details/Bento/1281")">
                    <div class="product-container clearfix">
                        <img src="~/Content/Snapshots/Products/bento_240.png" />
                        <div class="product-description">
                            <span class="product-body-text" style="font-weight: bold; font-size: 1.17em">EN SKÅL MAT</span>
                            <div style="text-align: right;margin-top:0.8em">
                                <span class="price-fighter">239:-</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/gundam_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">GUNDAM</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">2 459:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/totoro_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">TOTORO PLYSCH 62CM</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">99:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/kitkat_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">KITKAT</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">28:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/lickitung_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">NYCKELRING</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">59:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/bowl_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">RISSKÅL</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">89:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/tofu_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">TOFU MJUKIS</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">119:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/kitkat_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">EN GRÖN KITKAT</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">28:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/lickitung_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">NYCKELRING</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">59:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/bowl_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">RISSKÅL</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">89:-</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-container clearfix">
                    <img src="~/Content/Snapshots/Products/tofu_240.png" />
                    <div class="product-description">
                        <span class="product-body-text" style="font-weight: bold;font-size: 1.17em">TOFU MJUKIS</span>
                        <div style="text-align: right;margin-top:0.8em">
                            <span class="price-fighter">119:-</span>
                        </div>
                    </div>
                </div>
            </li>*@
    </ul>
</div>

@*ul.yo>li*4>(span+img[src="apa$"])*@
@*ul[data-bind="foreach:customers"]>li*4>(span{Caption $$}+input[type=text data-bind="value:$$"])*@
@*section[data-bind="foreach:customers"]>div*4>(input[type="text" data-bind="text:$$"]+img[src='apa'])*@