@section breadcrumbs {
    <section class="breadcrumbs" style="display:none">
        <a href="#">START</a> > <a href="#">BENTO</a> > <a href="#">SUPER SAYIAN DELUXE IV</a>
    </section>
}
<ul id="product-list" class="clearfix" style="margin-top: 0">
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/ebi_240.png"/>
            @*<div style="position: relative;background: url('/Content/Snapshots/Products/ebi.png') no-repeat center; height: 220px; width: 220px;margin: 0 auto">
                <span class="price-fighter" class="clearfix">128:-</span>
            </div>*@
            <div class="product-description">
                <h3>TEMPURARÄKA</h3>
                <div>
                    <span class="price-fighter" class="clearfix">128:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/bento_240.png"/>
            <div class="product-description">
                <h3>EN SKÅL MAT</h3>
                <div>
                    <span class="price-fighter" class="clearfix">239:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/gundam_240.png"/>
            <div class="product-description">
                <h3>GUNDAM RX-82</h3>
                <div>
                    <span class="price-fighter" class="clearfix">2 459:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/totoro_240.png"/>
            <div class="product-description">
                <h3>TOTORO PLYSCH 62CM</h3>
                <div>
                    <span class="price-fighter" class="clearfix">99:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/kitkat_240.png"/>
            <div class="product-description">
                <h3>KIT KAT GRÖNT TE</h3>
                <div>
                    <span class="price-fighter" class="clearfix">28:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/lickitung_240.png"/>
            <div class="product-description">
                <h3>LICKITUNG NYCKELRING</h3>
                <div>
                    <span class="price-fighter" class="clearfix">59:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/bowl_240.png"/>
            <div class="product-description">
                <h3>RISSKÅL</h3>
                <div>
                    <span class="price-fighter" class="clearfix">89:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/tofu_240.png"/>
            <div class="product-description">
                <h3>TOFU MJUKIS</h3>
                <div>
                    <span class="price-fighter" class="clearfix">119:-</span>
                    <span>Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
</ul>
