@section breadcrumbs {
    <section class="breadcrumbs" style="display:none">
        <a href="#">START</a> > <a href="#">BENTO</a> > <a href="#">SUPER SAYIAN DELUXE IV</a>
    </section>
}
<div id="cart-holder" style="height:50px;background-color: #000;color:#fff;">
    THIS SHOULD BE STICKY
</div>
<div id="hello-stranger">
    <span>
        HEJ VI TROR DU ÄR NY HÄR OCH BEHÖVER LITE HJÄLP FÖR DU SER RÄTT VILSEN UT, STÄMMER DET? WEEEEI!
        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi,
        id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    </span>
</div>
<ul id="product-list" class="clearfix" style="margin-top: 0">
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/ebi_240.png" />
            @*<div style="position: relative;background: url('/Content/Snapshots/Products/ebi.png') no-repeat center; height: 220px; width: 220px;margin: 0 auto">
                    <span class="price-fighter" class="clearfix">128:-</span>
                </div>*@
            <div class="product-description">
                <h3>TEMPURARÄKA</h3>
                <div class="clearfix">
                    <span class="price-fighter">128:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/bento_240.png" />
            <div class="product-description">
                <h3>EN SKÅL MAT</h3>
                <div class="clearfix">
                    <span class="price-fighter">239:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/gundam_240.png" />
            <div class="product-description">
                <h3>GUNDAM RX-82</h3>
                <div class="clearfix">
                    <span class="price-fighter">2 459:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/totoro_240.png" />
            <div class="product-description">
                <h3>TOTORO PLYSCH 62CM</h3>
                <div class="clearfix">
                    <span class="price-fighter">99:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/kitkat_240.png" />
            <div class="product-description">
                <h3>KIT KAT GRÖNT TE</h3>
                <div class="clearfix">
                    <span class="price-fighter">28:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/lickitung_240.png" />
            <div class="product-description">
                <h3>LICKITUNG NYCKELRING</h3>
                <div class="clearfix">
                    <span class="price-fighter">59:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/bowl_240.png" />
            <div class="product-description">
                <h3>RISSKÅL</h3>
                <div class="clearfix">
                    <span class="price-fighter">89:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-container">
            <img src="~/Content/Snapshots/Products/tofu_240.png" />
            <div class="product-description">
                <h3>TOFU MJUKIS</h3>
                <div class="clearfix">
                    <span class="price-fighter">119:-</span>
                    <span class="product-body-text">
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                        Här ska det stå lite text om just den här grejen man kan tjacka. Här ska det stå lite text om just den här grejen man kan tjacka.
                    </span>
                </div>
            </div>
        </div>
    </li>
</ul>
@*ul.yo>li*4>(span+img[src="apa$"])*@
@*ul[data-bind="foreach:customers"]>li*4>(span{Caption $$}+input[type=text data-bind="value:$$"])*@
@*section[data-bind="foreach:customers"]>div*4>(input[type="text" data-bind="text:$$"]+img[src='apa'])*@